<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-card-title class="text-color">Lighting</ion-card-title>
        </ion-col>
        <ion-col>
          <div class="center">
            <ion-button shape="round" size="small" color="success" (click)="controllOn(16,1)" fill="outline">
              <ion-icon name="ios-power"></ion-icon>
            </ion-button> &nbsp;
            <ion-button shape="round" size="small" color="danger" (click)="controllOn(16,0)" fill="outline">
              <ion-icon name="ios-power"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-card-title class="text-color">Lighting</ion-card-title>
        </ion-col>
        <ion-col>
          <div class="center">
            <ion-button shape="round" size="small" color="success" (click)="controllOn(20,1)" fill="outline">
              <ion-icon name="ios-power"></ion-icon>
            </ion-button> &nbsp;
            <ion-button shape="round" size="small" color="danger" (click)="controllOn(20,0)" fill="outline">
              <ion-icon name="ios-power"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-card-title class="text-color">Lighting</ion-card-title>
        </ion-col>
        <ion-col>
          <div class="center">
            <ion-button shape="round" size="small" color="success" (click)="controllOn(21,1)" fill="outline">
              <ion-icon name="ios-power"></ion-icon>
            </ion-button> &nbsp;
            <ion-button shape="round" size="small" color="danger" (click)="controllOn(21,0)" fill="outline">
              <ion-icon name="ios-power"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>