.button-center {
    padding-top: 20px;
    text-align: center;
}

.content-opt {
    padding-top:20px;
}

.txt-color {
    background: transparent;
    color: #ffffff;
}

.margin-box {
    margin-top: 20px;
    padding-left: 10px;
    padding-left: 10px;
}