<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="subdevices"></ion-back-button>
    </ion-buttons>
    <ion-title>Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="margin-box">
    <ion-item color="transparent" class="txt-color">
      <ion-label color="light"><b>Start time</b></ion-label>
      <ion-input disabled="false" type="text" [(ngModel)]="datetimeStart" (click)="startTime()"></ion-input>
    </ion-item>
    <ion-item color="transparent" class="txt-color">
      <ion-label color="light"><b>End time</b></ion-label>
      <ion-input disabled="false" type="text" [(ngModel)]="datetimeEnd" (click)="endTime()"></ion-input>
    </ion-item>
  </div>


  <div class="button-center">
    <ion-button color="primary" shape="round" (click)="goChart()">Chart</ion-button>
  </div>

</ion-content>