ion-content {
    --background:none;
    background:url('../../assets/img/bg-detector.png');
    background-size: cover;
    background-position: center center;
}

.txt-color {
    background: transparent;
    color: #ffffff;
}

.margin-input {
    padding: 20px;
}

.button-center {
    text-align: center;
}

.sign-up {
    background: transparent;
    color: #ffffff;
    font-size: 8pt;
}

.fix-buttom {
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
}

.opacity {
    opacity: 0.8;
}