<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>

  <div class="ion-text-center">
    <h1 class="txt-color">DETECTOR</h1>
  </div>
  <div class="fix-buttom">
    <div class="margin-input">
    
        <ion-item color="transparent" class="txt-color">
          <ion-label position="floating"><i class="fas fa-user"></i> &nbsp;&nbsp; Username</ion-label>
          <ion-input type="input" [(ngModel)]="usr" ></ion-input>
        </ion-item>
        <ion-item color="transparent" class="txt-color">
          <ion-label position="floating" color="light"><i class="fas fa-unlock"></i> &nbsp;&nbsp; Password</ion-label>
          <ion-input type="password" [(ngModel)]="pass" ></ion-input>
        </ion-item>

    </div>

    <ion-row>
      <ion-col>
        <div class="button-center">
          <ion-button class="txt-color" shape="round" color="light" fill="outline" (click)="signUp()">Sign Up</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="button-center">
          <ion-button shape="round" class="opacity" color="light" (click)="logIn()">Sign in</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <div class="button-center">
      <a class="sign-up">Forget Password ?</a>
    </div>
  </div>

</ion-content>