<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="devices"></ion-back-button>
    </ion-buttons>
    <ion-title>Chart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
 <canvas #lineCanvas></canvas>  
</ion-content>