<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>Devices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" >

  <ion-card  *ngFor="let device of item; let i = index" >
      <ion-card-header>
          <ion-card-title class="txt-color">{{device.name}}</ion-card-title>
          <ion-card-subtitle>{{device.place}}</ion-card-subtitle>
      </ion-card-header>      
      <ion-card-content>
        <p>Use Power : {{device.power}} W</p>
       
        <ion-button shape="round"  size="small" color="warning" (click)="goSubDevices(device.idDevice)" fill="outline"><ion-icon name="logo-buffer"></ion-icon></ion-button>
        <ion-button shape="round"  size="small" color="secondary" (click)="goSetting(device.idDevice)" fill="outline"><ion-icon name="ios-pulse"></ion-icon></ion-button>
        <ion-button shape="round"  size="small" color="danger" fill="outline">  <ion-icon name="ios-navigate"></ion-icon></ion-button> 
       
      </ion-card-content>  
      
  </ion-card>

</ion-content>

<!-- <ion-tabs >
  <ion-tab-bar color="dark" slot="bottom">
    <ion-tab-button (click)="goHome()" tab="home">
      <ion-icon name="ios-map"></ion-icon>
      <ion-label>Maps</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="devices">
      <ion-icon name="ios-cog"></ion-icon>
      <ion-label>Device</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Controll</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->