<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="devices"></ion-back-button>
    </ion-buttons>
    <ion-title>Sub Devices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <ion-card *ngFor="let device of item; let i = index" (click)="goChartView(device)">
        <ion-card-header>
            <ion-card-title class="txt-color">{{device.name}} {{device.nameType }} : {{device.namePhase}}</ion-card-title>
            <ion-card-subtitle>Date : {{device.dt}}</ion-card-subtitle>
        </ion-card-header>      
        <ion-card-content>
          <p>{{device.realV | number:'.2' }} V. {{device.realA | number:'.2' }} A. </p>
          <p>Power {{device.realV * device.realA | number:'.2'}} W</p>
        </ion-card-content>        
    </ion-card>

</ion-content>