<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="setting-time"></ion-back-button>
    </ion-buttons>
    <ion-title>Chart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <!-- <p>{{Id}}</p>
  <p>{{phase}}</p>
  <p>{{start}}</p>
  <p>{{end}}</p> -->
    <canvas #lineCanvas></canvas>  
</ion-content>