<ion-header>

  <!-- <ion-toolbar> -->
  <ion-buttons slot="start">
    <ion-back-button defaultHref="login"></ion-back-button>
  </ion-buttons>
  <ion-title>Sign Up</ion-title>
  <!-- </ion-toolbar> -->

</ion-header>
<ion-content>
  <div class="margin-input">
    <form>
      <ion-item color="transparent" class="txt-color">
        <ion-label position="floating" color="light"><i class="fas fa-address-card"></i> &nbsp;&nbsp; Full Name
        </ion-label>
        <ion-input type="input"></ion-input>
      </ion-item>
      <ion-item color="transparent" class="txt-color">
        <ion-label position="floating" color="light"><i class="fas fa-user"></i> &nbsp;&nbsp; Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item color="transparent" class="txt-color">
        <ion-label position="floating" color="light"><i class="fas fa-unlock"></i> &nbsp;&nbsp; Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item color="transparent" class="txt-color">
        <ion-label position="floating" color="light"><i class="fas fa-unlock"></i> &nbsp;&nbsp; Re-Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </form>
  </div>

  <div class="margin-input">
    <ion-button shape="round" expand="block" class="opacity" color="light">Sign Up</ion-button>
  </div>
  
</ion-content>