ion-content {
    --background: none;
    background: url('../../assets/img/bg-detector.png');
    background-size: cover;
    background-position: center center;
}

ion-back-button {
    background: transparent !important;
    color: lightyellow;
}

ion-buttons {
    background: transparent !important;
    position: fixed;
}

ion-title {
    position: fixed;
    background: transparent !important;
    margin-top: 14px;
    margin-left: 50px;
    color: lightyellow
}

.margin-input {
    margin-top: 50px;
    padding: 20px;
}

.txt-color {
    background: transparent;
    color: #ffffff;
    opacity: 0.8;
}

.opacity {
    opacity: 0.8;
}

