<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div #mapElement id="map"></div>

</ion-content>

<ion-footer>
   <ion-toolbar color="dark">
      <ion-tabs >
          <ion-tab-bar color="dark" slot="bottom">
            <ion-tab-button tab="home">
              <ion-icon name="ios-map"></ion-icon>
              <ion-label>Maps</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="goDevices()" tab="devices">
              <ion-icon name="ios-cog"></ion-icon>
              <ion-label>Device</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="goControl()" tab="settings">
              <ion-icon name="settings"></ion-icon>
              <ion-label>Controll</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
   </ion-toolbar>
</ion-footer>
